<div class="container-fruid">
  <div class="row">

    <!-- 自身のユーザー情報を表示するサイドバー -->
    <%= render 'public/users/login_user_sidebar', user: @user %>

    <!-- 新規投稿フォーム -->
    <div class="col-7 offset-1 mt-4">
      <div class="row mb-3">
        <div class="col">
          <h5><新規投稿></h5>
        </div>
      </div>
      <div class="row">
        <div class="tab-wrap col">
          <ul class="tab-menu p-0 m-0">
            <li><a href="#tab1" class="active">テンプレートを使用しない</a></li>
            <li><a href="#tab2" class="">キャンプレイアウト</a></li>
            <li><a href="#tab3" class="">キャンプ飯</a></li>
            <li><a href="#tab4" class="">キャンプ場</a></li>
          </ul>

          <div class="tab-contents">
            <div id="tab1" class="tab">
              <%= form_with model: @post do |f| %>
                <%= render 'layouts/error_messages', model: @post %>
                <%= f.label :body, "投稿文", class: "form-label" %>
                <%= f.text_area :body, rows: "6", placeholder: "投稿文を入力してください。", class: "body_form form-control border-secondary" %>
                <%= f.submit "投稿する", class: "submit_button btn btn-outline-primary" %>
              <% end %>
            </div>
            <div id="tab2" class="tab">
              <%= render 'public/camp_layouts/post_template_camp_layout' %>
            </div>
            <div id="tab3" class="tab">
              <%= render 'public/camp_meals/post_template_camp_meal' %>
            </div>
            <div id="tab4" class="tab">
              <%= render 'public/campsites/post_template_campsite' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>