<div class="container-fruid">
  <div class="row">

    <!-- 自身のユーザー情報を表示するサイドバー -->
    <%= render 'public/users/login_user_sidebar', obj: @user %>

    <!-- 投稿詳細・コメントを表示 -->
    <div class="col-6 offset-1 mt-4">
      <div class="container">
        <div class="row mb-4">
          <div class="col-auto" style="width: 100px;">
             <%= link_to user_path(@post.user_id) do %>
              <%= image_tag @post.user.get_profile_image(100, 100) %>
            <% end %>
          </div>
          <div class="col ms-4">
            <div class="container h-100 d-flex flex-column">
              <div class="row">
                <div class="col fw-bold">
                  <%= link_to user_path(@post.user_id), class: "link-dark link-underline-opacity-0 link-underline-opacity-100-hover" do %>
                    <%= @post.user.name %>
                  <% end %>
                </div>
              </div>
              <%= link_to post_path(@post.id), class: "link-dark link-underline-opacity-0 link-underline-opacity-100-hover" do %>
                <div class="row">
                  <div class="col">
                    <%= @post.body %>
                  </div>
                </div>
              <% end %>
              <div class="row mt-auto">
                <div class="col">
                  <%= @post.created_at %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto ms-auto px-0">
            <% if @post.user == current_user %>
              <div class="container h-100 d-flex flex-column">
                <div class="row  mt-auto">
                  <div class="col px-0">
                    <%= link_to post_path(@post.id), method: :delete do %>
                      <i class="fa-solid fa-trash fa-2x" style="color: #dd1155;"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row pb-2 mb-4 border-bottom">
          <!-- ここにコメントを表示 -->
        </div>
      </div>
    </div>

  </div>
</div>