<div class="container">
  <div class="row mt-5">
    <div class="col d-flex justify-content-center">
      <div>
        <h5>ログイン</h5>

        <% if flash[:alert] %>
          <div class="alert alert-danger"><%= flash[:alert] %></div>
        <% end %>

        <%= form_with model: @user, url: user_session_path, method: :post do |f| %>
          <div class="row mt-4 mb-2">
            <div class="col">
              <%= f.label :email, "メールアドレス" %>
            </div>
            <div class="col">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col">
              <%= f.label :password, "パスワード" %>
            </div>
            <div class="col">
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="row mb-4">
              <div class="col-auto pe-0">
                <%= f.label :remember_me, "ログイン状態を記憶する" %>
              </div>
              <div class="col">
                <%= f.check_box :remember_me %>
              </div>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "ログイン", class: "btn btn-outline-dark btn-sm" %>
          </div>

        <% end %>

        <div class="row mt-4">
          <div class="col">
            <%= render "public/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>