<div class="container-fruid">
  <div class="row">

    <!-- 自身のユーザー情報を表示するサイドバー -->
    <%= render 'public/users/login_user_sidebar', user: @user %>

    <!-- ユーザープロフィール・自身の投稿を表示 -->
    <div class="col-6 offset-1 mt-4">
      <div class="row mb-3">
        <div class="col">
          <span class="fs-5 fw-bold">&lt;<%= @user.name %>のマイページ&gt;</span><span class="ms-5 text-success"><%= flash[:success] %></span>
        </div>
      </div>
      <div class="row pb-2 mb-4 border-bottom">
        <div class="col-auto" style="width: 200px;">
          <%= image_tag @user.get_profile_image(200, 200) %>
        </div>
        <div class="col ms-4">
          <div class="container">
            <div class="row mb-3">
              <div class="col">
                <h3><%= @user.name %></h3>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h5><%= @user.introduction %></h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <h5><投稿一覧></h5>
        </div>
      </div>
      <%= render 'public/posts/posts_index', posts: @posts %>
    </div>

  </div>
</div>