<nav class="navbar navbar-expand-lg navbar-light justify-content-center">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">Camp-out!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to posts_path, class: "nav-link text-dark text-right" do %>
              <button class="btn btn-outline-dark">みんなの投稿</button>
            <% end %>
          </li>
          <li>
            <%= link_to timeline_path, class: "nav-link text-dark text-right" do %>
              <button class="btn btn-outline-dark">タイムライン</button>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to mypage_path, class: "nav-link text-dark text-right" do %>
              <button class="btn btn-outline-dark">マイページ</button>
            <% end %>
          </li>
          <li>
            <%= link_to "#", class: "nav-link text-dark text-right" do %>
              <button class="btn btn-outline-dark"><i class="fa-regular fa-bell"></i>通知</button>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-dark text-right" do %>
              <button class="btn btn-outline-dark">ログアウト</button>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to posts_path, class: "nav-link text-dark text-right" do %>
              <button class="btn btn-outline-dark">みんなの投稿</button>
            <% end %>
          </li>
          <li>
            <%= link_to camp_layouts_path, class: "nav-link text-dark text-right" do %>
              <button class="btn btn-outline-dark"><i class="fa-solid fa-tents"></i>レイアウト</button>
            <% end %>
          </li>
          <li>
            <%= link_to camp_meals_path, class: "nav-link text-dark text-right" do %>
              <button class="btn btn-outline-dark"><i class="fa-solid fa-utensils"></i>キャンプ飯</button>
            <% end %>
          </li>
          <li>
            <%= link_to campsites_path, class: "nav-link text-dark text-right" do %>
              <button class="btn btn-outline-dark"><i class="fa-solid fa-location-dot"></i>キャンプサイト</button>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path, class: "nav-link text-dark text-right" do %>
              <button class="btn btn-outline-dark">ログイン</button>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>